{% extends 'pingdecopongSamplePDPGeneratorBundle:Watertank:layout.html.twig' %}

{% block body -%}
    <header>
        <h1>Watertank削除</h1>
    </header>

    <section class="section">
        <h1 class="caption"><span id="selectFolderName">Watertank詳細</span></h1>
        <div class="functionListArea">
            <ul class="functionList clearfix">
                <li class="home"><a href="{{ path('watertank') }}?{{ returnUrlParam|raw }}">一覧へもどる</a></li>
            </ul>
        </div>
        <table width="600" border="0" cellpadding="0" cellspacing="0" class="detailTable">
                <tr>
                    <th scope="row">Id</th>
                        <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                        <td>{{ entity.Name }}</td>
                </tr>
                <tr>
                    <th scope="row">Systemuserid</th>
                        <td>{{ entity.SystemUserId }}</td>
                </tr>
                <tr>
                    <th scope="row">Integerdata</th>
                        <td>{{ entity.IntegerData }}</td>
                </tr>
                <tr>
                    <th scope="row">Deftest1</th>
                        <td>{{ entity.DefTest1 }}</td>
                </tr>
                <tr>
                    <th scope="row">Columntext</th>
                        <td>{{ entity.ColumnText }}</td>
                </tr>
                <tr>
                    <th scope="row">Columndate</th>
                        <td>{{ entity.ColumnDate|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th scope="row">Columndatetime</th>
                        <td>{{ entity.ColumnDatetime|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th scope="row">Columntime</th>
                        <td>{{ entity.ColumnTime }}</td>
                </tr>
                <tr>
                    <th scope="row">Systemuser</th>
                    <td>{{ entity.systemuser }}</td>
                </tr>
        </table>
        <form action="{{ path('watertank_delete', { 'id': entity.id }) }}" novalidate method="post" {{ form_enctype(form) }} name="watertank_delete_form">

            <div class="submit_box">
                <input type="submit" value="削除" style="width:100px;"/>
            </div>

            {{ form_end(form) }}
    </section>

{% endblock %}
