{% extends 'pingdecopongSamplePDPGeneratorBundle:Watertank:layout.html.twig' %}
{% form_theme form 'pingdecopongFormFreezeBundle:Form:form_layout.html.twig' %}

{% block body -%}
    <header>
        <h1>Watertank 編集</h1>
    </header>
    <section class="section">
        <h1 class="caption"><span id="selectFolderName">Watertank 編集</span></h1>
        <div class="functionListArea">
            <ul class="functionList clearfix">
                <li class="home"><a href="{{ path('watertank') }}?{{ returnUrlParam|raw }}">一覧へもどる</a></li>
            </ul>
        </div>
        <form action="{{ path('watertank_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} name="watertank_edit_form">

            {{ form_errors(form) }}

            <table width="600" border="0" cellpadding="0" cellspacing="0" class="detailTable">
                    <tr>
                        <th scope="row">{{ form_label(form.Name) }}</th>
                        <td><label>
                                {{ form_errors(form.Name) }}
                                {{ form_widget(form.Name) }}
                            </label></td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form_label(form.SystemUserId) }}</th>
                        <td><label>
                                {{ form_errors(form.SystemUserId) }}
                                {{ form_widget(form.SystemUserId) }}
                            </label></td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form_label(form.IntegerData) }}</th>
                        <td><label>
                                {{ form_errors(form.IntegerData) }}
                                {{ form_widget(form.IntegerData) }}
                            </label></td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form_label(form.DefTest1) }}</th>
                        <td><label>
                                {{ form_errors(form.DefTest1) }}
                                {{ form_widget(form.DefTest1) }}
                            </label></td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form_label(form.systemuser) }}</th>
                        <td><label>
                                {{ form_errors(form.systemuser) }}
                                {{ form_widget(form.systemuser) }}
                            </label></td>
                    </tr>
            </table>
            <div class="submit_box">
                {% if mode == 'input' %}
                <input type="button" onclick="postConfirm()" value="確認" style="width:100px;"/>
                {% elseif mode == 'confirm' %}
                <input type="button" onclick="postBack()" value="戻る"/>
                <input type="button" onclick="postSubmit()" value="登録" style="width:100px;"/>
                {% endif %}
            </div>

            <input id="_button_action" type="hidden" value="" name="_button_action">
            {{ form_end(form) }}

    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        //<![CDATA[
        function postConfirm(){
            document.watertank_edit_form._button_action.value = "confirm";
            document.watertank_edit_form.submit();
        }
        function postSubmit(){
            document.watertank_edit_form._button_action.value = "submit";
            document.watertank_edit_form.submit();
        }
        function postBack(){
            document.watertank_edit_form._button_action.value = "";
            document.watertank_edit_form.submit();
        }
        //]]>
    </script>
{% endblock %}
