{% extends 'pingdecopongSamplePDPGeneratorBundle:Watertank:layout.html.twig' %}
{% form_theme form 'pingdecopongFormFreezeBundle:Form:form_layout.html.twig' %}

{% block body -%}
    <header>
        <h1>Watertank 新規作成</h1>
    </header>
    <section class="section">
        <h1 class="caption"><span id="selectFolderName">Watertank 新規作成</span></h1>
        <div class="functionListArea">
            <ul class="functionList clearfix">
                <li class="home"><a href="{{ path('watertank') }}?{{ returnUrlParam|raw }}">一覧へもどる</a></li>
            </ul>
        </div>
        <form action="{{ path('watertank_new') }}" novalidate method="post" {{ form_enctype(form) }} name="watertank_new_form">

            <div class="error_validation">
                {{ form_errors(form) }}
            </div>

            <table width="600" border="0" cellpadding="0" cellspacing="0" class="detailTable">
                <tr>
                    <th scope="row">{{ form_label(form.Watertank.Name) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.Watertank.Name) }}
                        </div>
                            {{ form_widget(form.Watertank.Name) }}
                        <br/>
                        <span class="input_notes">{{ form.Watertank.Name.vars.name }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form_label(form.Watertank.SystemUserId) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.Watertank.SystemUserId) }}
                        </div>
                            {{ form_widget(form.Watertank.SystemUserId) }}
                        <br/>
                        <span class="input_notes">{{ form.Watertank.SystemUserId.vars.name }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form_label(form.Watertank.IntegerData) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.Watertank.IntegerData) }}
                        </div>
                            {{ form_widget(form.Watertank.IntegerData) }}
                        <br/>
                        <span class="input_notes">{{ form.Watertank.IntegerData.vars.name }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form_label(form.Watertank.DefTest1) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.Watertank.DefTest1) }}
                        </div>
                            {{ form_widget(form.Watertank.DefTest1) }}
                        <br/>
                        <span class="input_notes">{{ form.Watertank.DefTest1.vars.name }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form_label(form.Watertank.ColumnText) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.Watertank.ColumnText) }}
                        </div>
                            {{ form_widget(form.Watertank.ColumnText) }}
                        <br/>
                        <span class="input_notes">{{ form.Watertank.ColumnText.vars.name }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form_label(form.Watertank.ColumnDate) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.Watertank.ColumnDate) }}
                        </div>
                            {{ form_widget(form.Watertank.ColumnDate) }}
                        <br/>
                        <span class="input_notes">{{ form.Watertank.ColumnDate.vars.name }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form_label(form.Watertank.ColumnDatetime) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.Watertank.ColumnDatetime) }}
                        </div>
                            {{ form_widget(form.Watertank.ColumnDatetime) }}
                        <br/>
                        <span class="input_notes">{{ form.Watertank.ColumnDatetime.vars.name }}</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form_label(form.Watertank.ColumnTime) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.Watertank.ColumnTime) }}
                        </div>
                            {{ form_widget(form.Watertank.ColumnTime) }}
                        <br/>
                        <span class="input_notes">{{ form.Watertank.ColumnTime.vars.name }}</span>
                    </td>
                </tr>
                    <tr>
                        <th scope="row">{{ form_label(form.Watertank.systemuser) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.Watertank.systemuser) }}
                            </div>
                            {{ form_widget(form.Watertank.systemuser) }}
                            <br/>
                            <span class="input_notes">{{ form.Watertank.systemuser.vars.name }}</span>
                        </td>
                    </tr>
            </table>
            <div class="submit_box">
                {% if mode == 'input' %}
                <input type="button" onclick="postConfirm()" value="確認" style="width:100px;"/>
                {% elseif mode == 'confirm' %}
                <input type="button" onclick="postBack()" value="戻る"/>
                <input type="button" onclick="postSubmit()" value="登録" style="width:100px;"/>
                {% endif %}
            </div>

            {{ form_widget(form.subform.buttonAction) }}
            {{ form_widget(form.subform.returnAddress) }}

        {{ form_end(form) }}

    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        //<![CDATA[
        function postConfirm(){
            document.watertank_new_form["{{ form.subform.buttonAction.vars.full_name }}"].value = "confirm";
            document.watertank_new_form.submit();
        }
        function postSubmit(){
            document.watertank_new_form["{{ form.subform.buttonAction.vars.full_name }}"].value = "submit";
            document.watertank_new_form.submit();
        }
        function postBack(){
            document.watertank_new_form["{{ form.subform.buttonAction.vars.full_name }}"].value = "";
            document.watertank_new_form.submit();
        }
        //]]>
    </script>
{% endblock %}
