{% extends 'pingdecopongSamplePDPGeneratorBundle:Watertank:layout.html.twig' %}

{% block body -%}
    <header>
        <h1>Watertank詳細</h1>
    </header>
    <section class="section">
        <h1 class="caption"><span id="selectFolderName">Watertank詳細</span></h1>
        <div class="functionListArea">
            <ul class="functionList clearfix">
                <li class="home"><a href="{{ path('watertank') }}?{{ returnUrlParam|raw }}">一覧へもどる</a></li>
                <li class="home"><a href="{{ path('watertank_edit', { 'id': entity.id }) }}?ret={{ app.request.get('ret')|raw }}">編集</a></li>
                <li class="home"><a href="{{ path('watertank_delete', { 'id': entity.id }) }}?ret={{ app.request.get('ret')|raw }}">削除</a></li>
            </ul>
        </div>
        <table width="600" border="0" cellpadding="0" cellspacing="0" class="detailTable">
                <tr>
                    <th scope="row">Id</th>
                        <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                        <td>{{ entity.Name }}</td>
                </tr>
                <tr>
                    <th scope="row">Systemuserid</th>
                        <td>{{ entity.SystemUserId }}</td>
                </tr>
                <tr>
                    <th scope="row">Integerdata</th>
                        <td>{{ entity.IntegerData }}</td>
                </tr>
                <tr>
                    <th scope="row">Deftest1</th>
                        <td>{{ entity.DefTest1 }}</td>
                </tr>
                <tr>
                    <th scope="row">Systemuser</th>
                    <td>{{ entity.systemuser }}</td>
                </tr>
        </table>
    </section>

{% endblock %}
