{% extends 'pingdecopongSamplePDPGeneratorBundle:SystemUser:layout.html.twig' %}

{% block body -%}
    <header>
        <h1>SystemUser削除</h1>
    </header>

    <section class="section">
        <h1 class="caption"><span id="selectFolderName">SystemUser詳細</span></h1>
        <div class="functionListArea">
            <ul class="functionList clearfix">
                <li class="home"><a href="{{ path('systemuser') }}?{{ returnUrlParam|raw }}">一覧へもどる</a></li>
            </ul>
        </div>
        <table width="600" border="0" cellpadding="0" cellspacing="0" class="detailTable">
                <tr>
                    <th scope="row">Id</th>
                        <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                        <td>{{ entity.email }}</td>
                </tr>
        </table>
        <form action="{{ path('systemuser_delete', { 'id': entity.id }) }}" novalidate method="post" {{ form_enctype(form) }} name="systemuser_delete_form">

            <div class="submit_box">
                <input type="submit" value="削除" style="width:100px;"/>
            </div>

            {{ form_end(form) }}
    </section>

{% endblock %}
