{% extends 'pingdecopongSamplePDPGeneratorBundle:SystemUser:layout.html.twig' %}

{% block body -%}
<form action="{{ path('systemuser') }}" novalidate method="post" {{ form_enctype(form) }} name="systemuser_list">
    <header>
        <h1>SystemUser list type2</h1>
    </header>
    <section class="section">
        <h1 class="caption">検索</h1>


        {{ pdp_pager_hidden_render(pager) }}

        <div class="search_box">
            {{ form_widget(form.search) }}
            <input type="submit" value="検索">
        </div>

        <h1 class="caption"><span id="selectFolderName">一覧</span></h1>

        <div class="functionListArea">
            <ul class="functionList clearfix">
                <li class="home">
                    <a href="{{ path('systemuser_new') }}">
                        新規作成
                    </a>
                </li>
            </ul>
        </div>
        
        <table class="gridTable" style="width:100%;">
            <thead>
                <tr>

                    {% for header in pager.PagerColumn.Rows %}
                        <th class="mainTh sort_cell">
                            {% if header.Enable %}
                                {% if header.sortSelected %}
                                    {% if header.SortType == 'asc' %}
                                        <a href="{{ path(pager.LinkRouteName, header.query)|raw }}" >
                                            {{ header.label }}↓
                                        </a>
                                    {% elseif header.SortType == 'desc' %}
                                        <a href="{{ path(pager.LinkRouteName, header.query)|raw }}" >
                                            {{ header.label }}↑
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path(pager.LinkRouteName, header.query)|raw }}" >
                                        {{ header.label }}
                                    </a>
                                {% endif %}
                            {% else %}
                                {{ header.label }}
                            {% endif %}
                        </th>
                    {% endfor %}

                    <th class="mainTh function_icon_cell">操作</th>
                </tr>
            </thead>
            <tbody class="evenRows">
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('systemuser_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.email }}</td>
                    <td>
                <ul>
                    <li>
                        <a href="{{ path('systemuser_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('systemuser_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagerArea clearfix">

            <div class="pagerAreaLeft">
                    <ul class="pager">
                        {% for page in pager.PagerSelector.PageNo.Rows %}

                            {% if page.select %}
                                <li><a href="#">{{ page.label }}</a></li>
                            {% else %}
                                <li>
                                    <a href="{{ path(pager.LinkRouteName, page.query)|raw }}" >{{ page.label }}</a>
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>
            </div>

            {{ pdp_pager_pagesize_render(pager) }}
        </div>




    </section>
</form>

{% endblock %}
